header {
	width:100%;
	top: 0;
	background: #424949;
	position: fixed;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu .logo img {
	vertical-align: top;
	height: 40px;
	padding: 5px;
}

.menu .icon{
	padding: 5px;
}

.menu .icon i{
	color: white
}

.search{
	display: none;
	align-items: center;
}


/*Efectos del Menu*/
 
@media screen and (max-width:768px ) {

}

@media screen and (max-width:576px ) {
	
}