<!-- Header -->
<header id="header">  
  <nav class="menu">

      <div class="logo">
        <a routerLink="home"><img src="./assets/img/logo.jpg" alt=""></a>        
      </div>

      <div class="icon">
        <i (click)="mostrar()" class="fa fa-search"></i>        
      </div>

  </nav>

  <nav id="search" class="search">

    <div class="search-input">
        <input id="input" #termino (keyup)="buscar(termino.value)" name="search" value="" type="text" placeholder="Search artist" />
        
        <app-loading *ngIf="loading"></app-loading>

        <div id="list" class="list" *ngIf="!loading">
            <ul class="list-items" *ngFor="let artist of artists">
                <li (click)="lookArtist( artist.id )">{{ artist.name }}</li>
            </ul>
        </div>
        
    </div>

  </nav>
</header>
<!-- Header -->