.main-container {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222326;
  }

  .container {
    padding: 65px 0;
    margin-bottom: 80px;
    height: 100%;
    width: 100%;
  }