<app-loading *ngIf="loadingArtist"></app-loading>

<div class="artist-card animated fadeIn" *ngIf="!loadingArtist">
  
  <div class="image">
    <a [href]="artist.external_urls.spotify"><img [src]="artist.images | noimage" alt=""></a>
  </div>

  <div class="name">
    <h3>{{ artist.name }}</h3>
  </div>

  <div class="button-back">
    <button routerLink="/home">Back</button>
  </div>

</div>

<div class="albums">
    
    <h3>Albums</h3>
  
      <table class="table">
        
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Canciones</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor= 'let album of albums'>
            <td>
              <img (click)="lookAlbum( album )" [src]="album.images | noimage" class="puntero">
            </td>
            <td>{{ album.name }}</td>
            <td>{{ album.total_tracks }}</td>
          </tr>
        </tbody>
  
      </table>
  
  </div>