.artist-card{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #ddd;
    color: white;
}

.artist-card .image img {
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    border: 4px solid #ddd;
}

.artist-card .button-back button{
    background: transparent;
    font-size: 20px;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.artist-card .button-back button:hover{
    background: white;
    color: black;
    cursor: pointer;
}

h3{
    color: white;
    padding: 10px;
}

.topTracks{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{    
    text-align: center;
    color: white;
}

table thead tr{
    
}

table tbody tr td img {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
}
table tbody tr td audio{
    width: 300px;
    height: 25px;
}

.albums{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:768px ) {
    
    .artist-card{
        flex-direction: column;
    }
    
}
