<div class="search-page">

  <div class="title">
    <h4>Welcome to</h4>
    <h1>PM Open Air</h1>
    <p>Search your favorite song over Spotify, just write an Artist name in the following search box and enojy !</p>
  </div>

  <div class="search">
    <input #termino (keyup)="buscar(termino.value)" type="text" placeholder="Search artist">
  </div>

  <app-loading *ngIf="loading"></app-loading>

  <div *ngIf="error" class="alert">
    <h3>Error</h3>
    <p>{{ mensajeError }}</p>
  </div>

  <app-card *ngIf="!loading" [items]="artists"></app-card>

  <div class="favorites">
    
    <h2>Favorites</h2>

    <table class="table">

      <thead>
        <tr>

          <td>Nombre</td>
          <td>Vista Previa</td>
          <td>Quitar de Favoritos</td>

        </tr>
      </thead>
        
      <tbody>
          <tr *ngFor='let fav of favs'>

              <td>{{ fav.name }}</td>
              <td>
                  <audio [src]="fav.preview_url" controls></audio>
              </td>
              <td>
                <i (click)="removeTrackToFavs( fav.id )"
                  class="fas fa-trash-alt puntero">
                </i>                
              </td>
    
            </tr>
      </tbody>

    </table>

  </div>

</div>